<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>David Mann - Home</title>
	<meta name="description" content="Plain is a responsive HTML template with 12-column grid based on popular Twitter Bootstrap framework. This theme is suitable as a clean and easily maintainable template for any business, portfolio or single-project site, with support for mobile devices and latest HTML5 &amp; CSS3 user interface components.">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styles -->
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/font-awesome/font-awesome.min.css" rel="stylesheet" />
	<!--[if IE 7]>
		<link href="css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" />
	<![endif]-->
	
	<!-- Web Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css' />

	<!-- Javascript -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
	
	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Header
	================================================== -->
	<header id="header">

		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html">
						David Mann
					</a>
					<ul class="nav">
						<li class="active"><a href="index.html" title="Home">Home</a></li>
						<li><a href="work.html" title="My Work">Portfolio</a></li>
						<li><a href="resume.html" title="Resume">Resume</a></li>
						<!--<li><a href="blog.html" title="My Blog">Blog</a></li>-->
						<li><a href="contact.html" title="Contact Me">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>

	<!-- Content
	================================================== -->
	<section id="content" class="container">
		<div id="about" class="row">
			<div id="portfolio-picture" class="span6" style="float:left;">
				<img alt="" src="assets/homepage/portfoliopic.png" />
			</div>
			<div id="aboutContent" class="span6" style="float:right; font-size: 150%; line-height: 150%;">
				<p>
					Hi! I am David Mann, a Game Designer and Developer from Damascus, MD. I am passionate about creating well designed and usable software for all forms of media. I have successfully completed my course requirements at Rochester Institute of Technology and am currently working to complete my coop requirements for my expected spring 2015 graduation with a Bachelor's of Science in Game Design and Development. I enjoy working with others in order to produce unique and innovative programs in order to reach a large and diverse audience. 
				</p>
			</div>
		</div>
	</section><!-- end .container -->

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span6">
					<a class="brand" href="index.html">
						David Mann
					</a>
					<p>
						Game Designer <br />Game Developer
					</p>
				</div>
				<div class="span6 social-networks">
					<h3>Find me elsewhere</h3>
					<p>
						<a class="social-network linkedin" href="https://www.linkedin.com/in/DavidPatrickMann"></a> &nbsp;
					</p>
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span12">
					<a href="#" title="Send me an email">dmann3134@gmail.com</a>, 
					+13017870997
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="js/functions.min.js"></script>
	
</body>
</html>		