<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>David Mann - Portfolio</title>
	<meta name="description" content="Plain is a responsive HTML template with 12-column grid based on popular Twitter Bootstrap framework. This theme is suitable as a clean and easily maintainable template for any business, portfolio or single-project site, with support for mobile devices and latest HTML5 &amp; CSS3 user interface components.">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styles -->
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/font-awesome/font-awesome.min.css" rel="stylesheet" />
	<!--[if IE 7]>
		<link href="css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" />
	<![endif]-->
	
	<!-- Web Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css' />

	<!-- Javascript -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
	
	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Header
	================================================== -->
	<header id="header">

		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html">
						David Mann
					</a>
					<ul class="nav">
						<li><a href="index.html" title="Home">Home</a></li>
						<li class="active"><a href="work.html" title="My Work">Portfolio</a></li>
						<li><a href="resume.html" title="Resume">Resume</a></li>
						<<!--<li><a href="blog.html" title="My Blog">Blog</a></li>-->
						<li><a href="contact.html" title="Contact Me">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>

	<!-- Content
	================================================== -->
	<section id="content" class="container">
	<div class="hero-unit">
		<div class="row">
			<div class="span12 project-links ac" rel="tooltip" title="Use keyboard arrows - left, right, up">
				<a rel="shortcut" data-key="left" 	href="project-catapulter.html"><i class="icon-li icon-chevron-left">Previous</i></a>|
				<a rel="shortcut" data-key="up" 	href="work.html"><i class="icon-li icon-chevron-up">All</i></a>| 
				<a rel="shortcut" data-key="right" 	href="project-splattershmup.html"><i class="icon-li icon-chevron-right">Next</i></a>
			</div>
		</div>
	</div>

	<hr />

	<section class="row" id="project">

		<h1 class="span12">
			Chimaira
		</h1>
		<!-- portfolio item-->
		<div class="span8 project">

			<div class="thumbnail zoom">
				<!-- image -->
				<a href="project-chimaira.html" title="">
					<img alt="" src="assets/portfolio/chimaira-projectImg.png" />
				</a>
			</div>

		</div>
		<div class="span4 project-description">
			<h4>Year</h4>
			<ul>
				<li>2012</li>
			</ul>

			<h4>Role</h4>
			<ul>
				<li>Networking Lead, Project Manager</li>
			</ul>

			<h4>Team Size</h4>
			<ul>
				<li>4</li>
			</ul>

			<h4>Project overview</h4>
			<p>
				Chimaira is a top down shooter that requires 4 players to operate one ship and gun down waves of enemies. One player drives and the other three man the turrets. My team and I created this for a project in our Multi-User Media Spaces class in order to explore networking with games. We used a hybrid authoritative server model to provide the best networked play experience we could. We explored chatless communication by adding a ping system and encouraged the players to use it by zooming in on the pilot's camera giving them less vision of the overall map.
			</p>

			<p>
			<a href="http://people.rit.edu/dpm3391/Chimera/WebPlayer.html" target="_blank">Play Chimaira</a>
			</p>

			<h4>Technology</h4>
			<ul class="icons-ul">
				<li>Unity</li>
			</ul>
		</div>
		<!-- end portfolio item-->

	</section>


	</section>

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span6">
					<a class="brand" href="index.html">
						David Mann
					</a>
					<p>
						Game Designer <br />Game Developer
					</p>
				</div>
				<div class="span6 social-networks">
					<h3>Find me elsewhere</h3>
					<p>
						<a class="social-network linkedin" href="https://www.linkedin.com/in/DavidPatrickMann"></a> &nbsp;
					</p>
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span12">
					<a href="#" title="Send me an email">dmann3134@gmail.com</a>, 
					+13017870997
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="js/functions.min.js"></script>
	
</body>
</html>		